.contact{
    background-color:#4c898b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
}
.contact>h1{
    font-size: 4rem;
    margin-top: 4rem;
}

.messageContainer{
    margin-top: 5rem;
    
}
.messageContainer>h3{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.messageContainer>input{
    margin-top: 1.5rem;
    border-style: none;
}
.inputName{
    width: 35rem;
    height:3rem;
}
.inputMessage{
    width: 35rem;
    height: 25rem;
    margin-bottom: 2rem;
}