.wrapper{
    background-color: #1D2535;
    height: 51rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.wrapper>h1, .wrapper>h5{
    color: white;
    font-weight: 500;
}
.wrapper>img{
    width: 44rem;
    height: 32rem;
}